<div class="admin" ng-controller="AdminCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-2 admin-nav">
        <div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <div class="yaq-logo"><a class="logo-link" href="/">YAQ</a></div>
              <ul class="nav navbar-nav">
                <li class="setup-nav-box" sidebar-option>
                  <a ui-sref="admin.setup">
                  <div class="nav-setup-icon"></div>
                  <div class="nav-setup-text">SETUP</div>
                  </a>
                </li>
                <li class="moderate-nav-box" sidebar-option>
                  <a ui-sref="admin.moderate">
                    <div class="nav-moderate-icon"></div>
                    <div class="nav-moderate-text">MODERATE</div>
                  </a>
                </li>
                <li class="mirror-nav-box" sidebar-option>
                  <a ui-sref="admin.mirror">
                    <div class="nav-mirror-icon"></div>
                    <div class="nav-mirror-text">MIRROR</div>
                  </a>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-2">
        <div class="top-admin-bar row">
          <div class="nav-logout-button top-bar-item col-md-1"> <a href="/signout"> Logout </a></div>
        </div>
        <div ui-view>
          
        </div>
      </div>
    </div> 
  </div>
</div>