<div class="tweet-wall">
  
  <header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- <div class="nav-logo"></div> -->
      <div class="navbar-text navbar-right">
        <div class="join-the-conversation"><div class="twitter-logo"></div>JOIN THE CONVERSATION</div>
        <div class="hashtag">
          <input class="hashtag-input" ng-model="hashtag" ng-blur="saveHashtag()" placeholder="{{hashtag}}"></input>
        </div>
      </div>
      
    </nav>
  </header>
  <div class="grid" grid></div>

  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-offset-9">
          <div class="powered-by-pusher">
            <img class="pusher-logo" src="/img/powered_by_pusher.png">
          </div>
        </div>
      </div>
    </div>
  </nav>

</div>

<svg>
  <defs>
    <clipPath id="diamond" clipPathUnits="objectBoundingBox">
      <polygon points=".5,0 1,.5 .5,1 0,.5" />
    </clipPath>
  </defs>
</svg>