<header>
  <nav class="top-navbar">
    <div class="nav-logo"></div>
  </nav>
</header>
<div class="grid" grid></div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-9">
        <div class="powered-by-pusher">
          <div class="powererd-by-text">POWERED BY</div>
          <img class="pusher-logo" src="/img/pusher-logo-flat-light.png">
        </div>
      </div>
    </div>
  </div>
</nav>