<div class="tweet-wall">
  
  <header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class=""></div>
      <p class="navbar-text navbar-right">JOIN THE CONVERSATION #HASTAG</p>
    </nav>
  </header>
  <div class="grid" grid></div>

  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-offset-9">
          <div class="powered-by-pusher">
            <div class="powered-by-text">POWERED BY <img class="pusher-logo" src="/img/pusher-logo-flat-light.png"></div>
          </div>
        </div>
      </div>
    </div>
  </nav>

</div>