/* ---------------- CSS RESET ----------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------------------------------------------- */


body {
  font-size: 16px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Bebas-Neue';
  src: url('/fonts/bebasneue-webfont.eot');
  src: url('/fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/bebasneue-webfont.woff') format('woff'),
       url('/fonts/bebasneue-webfont.ttf') format('truetype'),
       url('/fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 1900px) {
  .text-card-square .tweet-text-container {
    font-size: 1.1vw;
  }

  .photo-card .tweet-text-container {
    font-size: 1.1vw;
  }

  .bebas-neue .tweet-text-container {
    font-size: 1.3vw !important;
  }

  .tweet-tweeter-container {
    font-size: 1vw;
  }
}

@media (min-width: 1900px) {
  .text-card-square .tweet-text-container {
    font-size: 0.9vw;
  }

  .photo-card .tweet-text-container {
    font-size: 0.9vw;
  }

  .bebas-neue .tweet-text-container {
    font-size: 1.1vw !important;
  }

  .tweet-tweeter-container {
    font-size: 0.8vw;
  }
}

.clean-navbar {
  background-size: auto 75%;
  background-image: url("/img/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.nav-logo-image {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.pusher-logo {
  margin-top: 20px;
  float: right;
}

.nav-sponsor-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  overflow: hidden;
  margin: auto;
}

.nav-sponsor-logo-container {
  width: 100px;
  float: left;
  margin-top: 1%;
}

.hashtag-input {
  color: #A9A9A9;
  margin-right: 10%;
  margin-top: 12px;
}

.tweet-text-container {
  font-size: 1.8rem;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
  line-height: 120%;
}

.text-card-square .tweet-text-container {
  width: 90%;
}

.square-outer-container {
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 80%;
  bottom: 0;
}

.photo-card {
  border: 1px solid lightgrey;
  text-align: center;
  width: 100%;
  height: 100%;
}

.photo-card .square-outer-container {
  position: relative;
  margin-top: 4%;
}

.photo-card .tweet-photo-container {
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.sponsor-logo-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 70%;
  overflow: hidden;
  margin: auto;
}

.sponsor-logo-image-container {
  height: 100%;
  width: 100%;
  margin: 0px auto;
}

.photo-card .tweet-avatar-container {
  z-index: 1px;
}

.photo-card .tweet-details-container {
  float: left;
  height: 100%;
  width: 50%;
}

.text-card-wide {
  text-align: center;
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
}

.text-card-wide .tweet-text-container {
  text-align: center;
  width: 80%;
  margin: 2% auto;
}

.text-card-wide .card-content {
  margin-top: 3%;
}

.text-card-tall {
  border: 1px solid lightgrey;
  text-align: center;
  width: 100%;
  height: 100%;
}

.text-card-tall .tweet-text-container {
  width: 90%;
}

.text-card-tall .tall-card-body {
  padding-top: 40%;
}

.text-card-tall .tweet-text-container {
  margin-top: 10px;
}

.text-card-square {
  border: 1px solid lightgrey;
  text-align: center;
  width: 100%;
  height: 100%;
}

.text-card-square .little-bar {
  margin: -1px auto 5px;
}

.sponsor-card {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  border: 1px solid lightgrey;
}

.green-bg-white {
  background-color: #96e1e2;
  color: white;
}

.green-bg-white .twitter-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url("/img/twitter-logos/twitter_logo_white.png");
}

.green-bg-white .photo-card-triangle {
  position: absolute;
  right: 50%;
  top: 20%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #96e1e2;
}

.white-bg-green {
  background-color: #ffffff;
  color: #96e1e2;
}

.white-bg-green .twitter-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url("/img/twitter-logos/twitter_logo_turqoise.png");
}

.white-bg-green .photo-card-triangle {
  position: absolute;
  right: 50%;
  top: 20%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid white;
}

.white-bg-pink {
  background-color: #ffffff;
  color: #f5867b;
}

.white-bg-pink .twitter-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url("/img/twitter-logos/twitter_logo_salmon.png");
}

.white-bg-pink .photo-card-triangle {
  position: absolute;
  right: 50%;
  top: 20%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid white;
}

.white-bg-black {
  background-color: #ffffff;
  color: black;
}

.white-bg-black .twitter-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url("/img/twitter-logos/twitter_logo_turqoise.png");
}

.white-bg-black .photo-card-triangle {
  position: absolute;
  right: 50%;
  top: 20%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid white;
}

.pink-bg-white {
  background-color: #f5867b;
  color: white;
}

.pink-bg-white .twitter-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url("/img/twitter-logos/twitter_logo_white.png");
}

.pink-bg-white .photo-card-triangle {
  position: absolute;
  right: 50%;
  top: 20%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #f5867b;
}

.bebas-neue .tweet-text-container {
  font-family: "Bebas-Neue", "Lucinda Grande", Helvetica;
  font-size: 24px;
}

.diagonal-stripes {
  background-image: url("/img/diagonal-stripes-grey.png");
}

.diagonal-stripes .twitter-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url("/img/twitter-logos/twitter_logo_salmon.png");
}

.twitter-logo {
  width: 20px;
  height: 16px;
  display: inline-block;
}

.tweet-tweeter-container {
  display: inline-block;
  margin-left: 8px;
  color: black;
}

.user-container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 25px;
}

.time-ago-container {
  text-align: center;
  width: inherit;
  position: absolute;
  bottom: 12px;
  font-size: 0.9em;
  color: black;
}

.pink-bg-white .time-ago-container, .green-bg-white .time-ago-container {
  color: white;
}

.little-bar {
  width: 30px;
  margin: 2px auto 5px;
  border-bottom: 1px solid black;
}

.diamond {
  width: 55px;
  margin-top: 5px;
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  clip-path: url(#diamond);
}

.tweet-wall {
  width: 100%;
  height: 100%;
}

.grid {
  background-color: #E8E8E8;
  margin-top: 40px;
  position: absolute;
  font-size: 1em;
  top: 0;
  left: 0;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

#grid.active {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

#grid.inactive {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#grid2.active {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

#grid2.inactive {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.flip-container, .grid {
  width: 100%;
  height: 100%;
}

.flip-container {
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flipper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  height: 100%;
}

.grid, .grid2 {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid {
  z-index: 2;
}

.logo-photo-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  width: 120px;
  overflow: hidden;
}

card {
  padding: 5px;
}

.join-the-conversation {
  float: right;
  margin-right: 20px;
  color: white;
}

.join-the-conversation .twitter-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url("/img/twitter-logos/twitter_logo_white.png");
  margin-right: 10px;
}

.hashtag-container {
  font-size: 1.3em;
  margin-right: 10px;
  margin-top: 30px;
}

.hashtag {
  text-align: center;
  font-size: 1.3em;
  margin-right: 10px;
  color: #90D3D7;
  margin-top: 22px;
}

/* ----- Bootstrap Overrides ----- */

.navbar {
  border: none;
  border-radius: 0px;
  height: 100%;
}

.admin-nav .navbar {
  background-color: #252525;
  color: #898989;
  height: 100%;
}

.tweet-wall .navbar {
  border: none;
  border-radius: 0;
  height: 40px;
  background-color: #152023;
  color: #cbc9c9;
  margin-bottom: 0px;
}

.admin .container {
  width: 100%;
  padding: 0px;
}

.col-md-10, .col-md-2, .col-md-6, .col-md-3 {
  padding: 0px;
}

.row {
  margin: 0px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/* ------------------------------- */



/* ----- Admin Page ----- */

.logo-link {
  text-decoration: none;
  color: white;
}

.logo-link:hover {
  text-decoration: none;
  color: white;
}

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.yaq-logo {
  margin-top: 8%;
  text-align: center;
  color: white;
  font-size: 250%;
  width: 100%;
  height: 20%;
}

.top-admin-bar {
  width: 100%;
  background-color: #90d3d7;
  height: 70px;
  color: white;
}

.admin-nav {
  position: fixed;
  height: 100%;
}

.sidebar-nav {
  height: 100%;
}

.logout-button {
  float: right;
}

.setup-nav-box {
  width: 100%;
  height: 15%;
}

.moderate-nav-box {
  width: 100%;
  height: 15%;
}

.mirror-nav-box {
  width: 100%;
  height: 15%;
}

.config-container {
  background-color: #f3f3f3;
  height: 250px;
}

.query-container {
  background-color: #ebebeb;
  height: 250px;
}

.query-container input {
  width: 50%;
}

.logo-container {
  height: 33%;
}

.setup-container {
  height: 100%;
  color: #656565;
}

.mode-swap-button {
  color: #90d3d7;
  cursor: pointer;
}

.outer-config-container button {
  background-color: #90d3d7;
  color: white;
  border: none;
  border-radius: 0px;
  padding: 5px;
}

.query-box {
  background-color: #b6d1d2;
  color: white;
}

.query {
  margin-left: 2%;
  margin-top: 4%;
  float: left;
}

.query:first-of-type {
  margin-left: 0%;
}

.query-text {
  background-color: #b6d1d2;
  float: left;
  padding: 6px;
}

.query .remove-button {
  background-color: #b6d1d2;
  margin-top: 0px;
}

.remove-button {
  background-color: #90d3d7;
  border-left: 1px solid white;
  float: left;
  padding: 6px;
  top: 0px;
  color: white;
  margin-top: 25%;
}

.add-keyword-button {
  margin-left: 1%;
}

.little-vertical-bar {
  border-left: 1px solid white;
  height: 20%;
}

.top-bar-item {
  top: 40%;
}

.sponsor-logo-box {
  float: left;
  margin: 25px;
}

.sponsor-logo-remove-button {
  width: 50%;
  margin-left: 40%;
  margin-top: 10%;
}

.inner-logo-container {
  height: 100%;
}

.inner-logo-container, .inner-style-container {
  padding: 3%;
}

.inner-config-container, .inner-query-container {
  padding: 6%;
}

.inner-query-container form {
  margin-top: 3%;
}

.pusher-input {
  margin-top: 3%;
}

.pusher-app-id {
  width: 49%;
}

.pusher-key {
  float: right;
  width: 49%;
}

.pusher-secret {
  width: 100%;
}

.config-buttons-container {
  margin-top: 2%;
  width: 100%;
}

.mode-swap-button {
  float: right;
}

.config-update-button {
  float: left;
}

.outer-style-container {
  height: 400px;
  background-color: white;
}

.outer-logo-container {
  height: 550px;
  /*background-color: #f1f1f1;*/
  background-color: white;
}

.outer-config-container {
  height: 200px;
}

.company-logo-upload-form {
  width: 250px;
  bottom: 2%;
}

.sponsor-logo-upload-form {
  width: 250px;
  bottom: 2%;
}

.company-logo {
  height: 100%;
}

/* ------------------------------- */





/* ----- Unmoderated Tweets ----- */

.tweet-list {
  background-color: #f1f1f1;
}

.unmoderated-tweet-photo-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
  width: 100%;
  overflow: hidden;
}

.unmoderated-text-card, .unmoderated-photo-card {
  width: 31%;
  margin: 1%;
  background-color: white;
}

.unmoderated-tweet-buttons button {
  color: #90d3d7;
  border: none;
  background-color: #e8e8e8;
  width: 100%;
  float: left;
  text-align: center;
  height: 100%;
}

.unmoderated-tweet-buttons {
  width: 100%;
  height: 60px;
}

.unmoderated-tweet-buttons .verify-button, .discard-button {
  height: 100%;
  width: 50%;
  float: left;
}

.unmoderated-tweet-avatar {
  width: 15%;
  float: left;
  margin-left: 5%;
}

.tweeter-details {
  padding-left: 5%;
  float: left;
  font-size: 0.8em;
  width: 55%;
}

.unmoderated-tweet-date {
  float: right;
  font-size: 0.8em;
  color: #f2b654;
  text-align: right;
}

.unmoderated-tweet-details-container {
  width: 100%;
  margin-top: 5%;
  background-color: white;
}

.unmoderated-tweet-text {
  width: 100%;
  padding: 4%;
  float: left;
}

.unmoderated-tweet-tweeter {
  color: #f2b654;
}

.unmoderated-tweet-details {
  margin-right: 5%;
  margin-left: 5%;
}

.tick, .cross {
  font-size: 1.8em;
}

.verify-button {
  border-right: 1px solid white;
}

.discard-button {
  border-left: 1px solid lightgray;
}

.reject, .accept {
  font-size: 80%;
}

.shadow {
  -moz-box-shadow: 1px 1px 1px 1px #c4c4c4;
  -webkit-box-shadow: 1px 1px 1px 1px #c4c4c4;
}

.moderate-container {
  background-color: #f1f1f1;
}

.mirror-remove-button {
  color: #90d3d7;
  border: none;
  background-color: #e8e8e8;
  width: 100%;
  float: left;
  text-align: center;
  height: 100%;
}

body {
  background-color: #E8E8E8;
}

.company-logo-section {
  margin: 25px 15px;
}

.upload-sponsor-logo-form {
  float: left;
}

.sponsor-logo-box:first-of-type {
  margin-left: 0px;
}

.reset-container {
  width: 100%;
  height: 200px;
}

.reset-button {
  background-color: #90d3d7;
  color: white;
  border: none;
  border-radius: 0px;
  width: 100px;
  margin: 0px auto 10px;
  padding: 10px;
}

.reset-section {
  text-align: center;
  width: 200px;
  margin: 100px auto;
}

.setup-nav-box, .moderate-nav-box, .mirror-nav-box {
  height: 90px;
  width: 100%;
}

.setup-nav-box {
  margin-top: 30px;
}

.setup-nav-box:hover, .moderate-nav-box:hover, .mirror-nav-box:hover {
  background-color: #1b1b1b;
}

.sidebar-active {
  background-color: #1b1b1b;
}

.sidebar-active  {
  background-color: #1b1b1b;
}

.sidebar-active .nav-mirror-icon {
  background-image: url("/img/sidebar/livetweets_hover.png");
}

.sidebar-active .nav-moderate-icon {
  background-image: url("/img/sidebar/moderate_hover.png");
}

.sidebar-active .nav-setup-icon {
  background-image: url("/img/sidebar/setup_hover.png");
}

.mirror-nav-box:hover .nav-mirror-icon {
  background-image: url("/img/sidebar/livetweets_hover.png");
}

.moderate-nav-box:hover .nav-moderate-icon {
  background-image: url("/img/sidebar/moderate_hover.png");
}

.setup-nav-box:hover .nav-setup-icon {
  background-image: url("/img/sidebar/setup_hover.png");
}

.setup-nav-box:hover .nav-setup-text {
  color: #90d3d7;
}

.mirror-nav-box:hover .nav-mirror-text {
  color: #90d3d7;
}

.moderate-nav-box:hover .nav-moderate-text {
  color: #90d3d7;
}

.sidebar-active .nav-setup-text {
  color: #90d3d7;
}

.sidebar-active .nav-mirror-text {
  color: #90d3d7;
}

.sidebar-active .nav-moderate-text {
  color: #90d3d7;
}

.nav-mirror-icon {
  margin: 0px auto;
  background-image: url("/img/sidebar/livetweets_load.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45px;
  width: 45px;
  overflow: hidden;
}

.nav-moderate-icon {
  margin: 0px auto;
  background-image: url("/img/sidebar/moderate_load.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45px;
  width: 30px;
  overflow: hidden;
}

.nav-setup-icon {
  margin: 0px auto;
  background-image: url("/img/sidebar/setup_load.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 37px;
  width: 51px;
  overflow: hidden;
}

.nav-setup-text, .nav-moderate-text, .nav-mirror-text {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

#file-upload-box {
  position: absolute;
  left: -9999px;
}

.choose-logo-button {
  background-color: #90d3d7;
  color: white;
  padding: 6%;
  cursor: pointer;
  font-weight: 100;
}

.logo-upload-form-buttons-container {
  width: 100px;
}

.company-logo .logo-upload-form-buttons-container {
  margin-left: 16%;
}

.sponsor-logos .logo-upload-form-buttons-container {
  margin-top: 40%;
  margin-left: 10%;
}

.logo-upload-button {
  background-color: #90d3d7;
  color: white;
  border: none;
  border-radius: 0px;
  padding: 4%;
}

.sub-heading-text {
  color: #939393;
  font-size: 0.8em;
  margin-top: 2%;
}

.inner-logo-container .container {
  margin-top: 2%;
}

.nav-logout-button a {
  color: white;
  text-decoration: none;
}

.nav-logout-button {
  float: right;
}

/* ------------------------------ */