<body>
  <form action='/pusher', method="post">
    <label>App ID</label>
    <input type="text" name="app_id">
    <label>Key</label>
    <input type="text" name="key">
    <label>Secret</label>
    <input type="text" name="secret">
    <button type="submit">Submit</button>
  </form>
</body>