<body>
<div class="container">
<a href="/auth/twitter">Authorize Twitter</a>
</div>
</body>



<style>

body {
  background-color: #90d3d7;
}

.container {
  text-align: center; 
  margin-top: 10%;
}

a {
  font-size: 5em; 
  text-decoration: none; 
  color: white; 
  width: 80%; 
  font-family: Helvetica, 'Lucida Grande';
}

</style>