<div ng-controller="SetupCtrl" class="setup-container">

  <div ng-controller="LogoCtrl" class="outer-logo-container">
    <div class="inner-logo-container">
      <h3 class="add-logo-heading">Add Logos</h3>
      
      <div class="container ">
        <div class="row">

          <div class="company-logo col-md-3">
            <h4>Company Logo</h4>
            <div class="company-logo-section">
              <div class="logo-photo-container" style="background-image:url({{companyLogo.path}});"></div>
            </div>
            <div class="company-logo-upload-form">
              <form action="/logo-upload" ng-upload="companyComplete(content)">
                <div class="logo-upload-form-buttons-container">
                  <label class="choose-logo-button">Choose<span><input type="file" name="logo" logo-uploader id="file-upload-box"></input></span></label>
                  <input type="submit" value="Upload" class="logo-upload-button" ng-disabled="$isLoading"></input>
                </div>
              </form>      
            </div>
          </div>
          
          <div class="sponsor-logos col-md-9">
            <h4>Sponsor Logos</h4>
            <div class="sponsor-logo-section">
              <div class="sponsor-logo-box" ng-repeat="logo in sponsorLogos">
                <div class="logo-photo-container" style="background-image:url({{logo.path}});"></div>
                <div class="sponsor-logo-remove-button">
                  <i class='glyphicon glyphicon-remove remove-button' ng-click="removeSponsorLogo(logo, $index)"></i>
                </div>
              </div>
            </div>
            <div class="upload-sponsor-logo-form">
              <form action="/sponsor-logo-upload" ng-upload="sponsorComplete(content)">
                <div class="logo-upload-form-buttons-container">
                  <label class="choose-logo-button">Choose<span><input type="file" name="sponsorLogo" logo-uploader id="file-upload-box"></input></span></label>
                  <input type="submit" value="Upload" class="logo-upload-button" ng-disabled="$isLoading"></input>
                </div>
              </form>
            </div>
          </div>          
        
        </div>
      </div>
      
    </div>
  </div>

  <div ng-controller="StyleCtrl" class="outer-style-container">
    <div class="inner-style-container">
      <h3>Colour Scheme</h3>
    </div>
  </div> 
  

  <div class="container outer-config-container">
    <div class="row">
      <div ng-controller="QueryCtrl" class="col-md-6 query-container">
        <div class="inner-query-container">
          <h4>Keywords</h4>
          <div class="sub-heading-text"> Add hashtags, words or phrases individually </div>
          <form class="form-inline" name="tweetForm">
            <input type="text" ng-model="query" placeholder="Keyword">
            <button class="add-keyword-button" ng-click="getTweets()" type="button">Add</button>
          </form>

          <div class="query-box">
            <div class="query" ng-repeat="query in queries">
              <div class="query-text">{{query}}</div>
              <i class='glyphicon glyphicon-remove remove-button' ng-click="removeQuery(query, $index)"></i>
            </div>
          </div>
        </div>
      </div>

      <div ng-controller="ConfigCtrl" class="col-md-6 config-container">
        <div class="inner-config-container">
          <h4>Config</h4>
          <div class="sub-heading-text"> Update your Pusher app details or change modes </div>
          <input type="text" ng-model="pusher_app_id" placeholder="App ID" class="pusher-app-id pusher-input">
          <input type="text" ng-model="pusher_key" placeholder="Key" class="pusher-key pusher-input">
          <input type="text" ng-model="pusher_secret" placeholder="Secret" class="pusher-secret pusher-input">
          <div class="config-buttons-container">
            <button type="submit" ng-click="updatePusherConfig()" class="config-update-button">Update</button>

            <p class="mode-swap-button" ng-click="swapMode()" ng-show="!isAutomatic">Change to automatic mode</p>
            <p class="mode-swap-button" ng-click="swapMode()" ng-show="isAutomatic">Change to moderated mode</p>
          </div>
        </div>
      </div>  
    </div>    
  </div>

  <div class="reset-container" ng-controller="ResetCtrl">
    <div class="reset-section">
      <button class="reset-button" confirmed-click="fullReset()" ng-confirm-click="Are you sure you want to do a full reset?">Full Reset</button>
      <div class="reset-message">Everything will be deleted</div>
    </div>
  </div>

</div>
 

<script>
//   function handleFileSelect(evt) {
//     var files = evt.target.files;

//     if (!f.type.match('image.*')) {
//       continue;
//     }

//     var reader = new FileReader();

//     // Closure to capture the file information.
//     reader.onload = (function(theFile) {
//       return function(e) {
//         // Render thumbnail.
//         var span = document.createElement('span');
//         span.innerHTML = ['<img class="thumb" src="', e.target.result,
//                           '" title="', escape(theFile.name), '"/>'].join('');
//         document.getElementById('list').insertBefore(span, null);
//       };
//     })(f);

//     // Read in the image file as a data URL.
//     reader.readAsDataURL(f);
//   }

//   document.getElementById('files').addEventListener('change', handleFileSelect, false);
// </script>